<div id="timelog-details" class="current">
    <div class="toolbar">
        <h1>Time log Details | <%=h @project.name %></h1>
        <a href="/iphone/projects/show/<%= @project.id %>" class="back">Back</a>
    </div>

    <ul class="edgetoedge">
        <% @entries.each do |entry| %>
        <li>
            <p><%=h entry.user %>, <%= html_hours("%.2f" % entry.hours) %> Hours</p>
            <p><%=h entry.activity %></p>
            <% if entry.issue %>
            <p>#<%= entry.issue.id %></p>
            <% end %>
            <p><%=h entry.comments %></p>
        </li>
        <% end %>
    </ul>
</div>
