<div id="<%= dom_id(@issue) %>" class="current">
    <div class="toolbar">
        <h1>#<%= @issue.id %> <%= h(@issue.tracker) %>(<%= @issue.status.name %>)</h1>
        <% if !User.current.logged? %>
        <a class="button slideup" id="infoButton" href="#login">Login</a>
        <% end %>
        <% if @project %>
        <%= link_to "Back", { :controller => "issues", :action => "index", :project_id => @project }, :class => "back" %>
        <% else %>
        <%= link_to "Back", "/iphone", :class => "back" %>
        <% end %>
    </div>

    <div class="info">
        <p class="author">
        <%= authoring @issue.created_on, @issue.author %>.
        </p>

        <p>
        <% if @issue.created_on != @issue.updated_on %>
        <%= l(:label_updated_time, time_tag(@issue.updated_on)) %>.
        <% end %>
        </p>
    </div>

    <div class="<%= @issue.css_classes %> details">
        <h3 id="issue-subject"><%=h @issue.subject %></h3>
        <table class="attributes" cellspacing="0">
        <tr>
            <th class="status"><%=l(:field_status)%>:</th><td class="status"><%= @issue.status.name %></td>
        </tr>
        <tr>
            <th class="start-date"><%=l(:field_start_date)%>:</th><td class="start-date"><%= format_date(@issue.start_date) %></td>
        </tr>
        <tr>
            <th class="priority"><%=l(:field_priority)%>:</th><td class="priority"><%= @issue.priority.name %></td>
        </tr>
        <tr>
            <th class="due-date"><%=l(:field_due_date)%>:</th><td class="due-date"><%= format_date(@issue.due_date) %></td>
        </tr>
        <tr>
            <th class="assigned-to"><%=l(:field_assigned_to)%>:</th><td class="assigned-to"><%= avatar(@issue.assigned_to, :size => "14") %><%= @issue.assigned_to ? link_to_user(@issue.assigned_to) : "-" %></td>
        </tr>
        <tr>
            <th class="progress"><%=l(:field_done_ratio)%>:</th><td class="progress"><%= @issue.done_ratio %>%</td>
        </tr>
        <tr>
            <th class="category"><%=l(:field_category)%>:</th><td class="category"><%=h @issue.category ? @issue.category.name : "-" %></td>
        </tr>

        <tr>
            <% if User.current.allowed_to?(:view_time_entries, @project) %>
            <th class="spent-time"><%=l(:label_spent_time)%>:</th>
            <td class="spent-time"><%= @issue.spent_hours > 0 ? (link_to l_hours(@issue.spent_hours), {:controller => 'timelog', :action => 'details', :project_id => @project, :issue_id => @issue}) : "-" %></td>
            <% end %>
        </tr>
        <tr>
            <th class="fixed-version"><%=l(:field_fixed_version)%>:</th><td class="fixed-version"><%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %></td>
        </tr>
        <tr>
            <% if @issue.estimated_hours %>
            <th class="estimated-hours"><%=l(:field_estimated_hours)%>:</th><td class="estimated-hours"><%= l_hours(@issue.estimated_hours) %></td>
            <% end %>
        </tr>
        <%= render_custom_fields_rows(@issue) %>
        <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
        </table>

        <p><strong><%=l(:field_description)%></strong></p>
        <div class="wiki">
        <%= textilizable @issue, :description, :attachments => @issue.attachments %>
        </div>

        <% if authorize_for('issue_relations', 'new') || @issue.relations.any? %>
        <hr />
        <div id="relations">
        <%= render :partial => 'relations' %>
        </div>
        <% end %>

        <% if @journals.any? %>
        <div id="history">
        <h3><%=l(:label_history)%></h3>
        <%= render :partial => 'history', :locals => { :journals => @journals } %>
        </div>
        <% end %>

    </div>

    <ul class="rounded">
        <li class="arrow"><%= link_to "Update Status", "#" %></li>
        <li class="arrow"><%= link_to "Change Priority", "#" %></li>
        <li class="arrow"><%= link_to "Assign To...", "#" %></li>
        <li class="arrow"><%= link_to "Add Note", "#" %></li>
        <li class="arrow"><%= link_to "Log time", "#" %></li>
    </ul>
</div>